{% if page.category_tag_list != false %}
<div class="flex-row justify-start flex-wrap list mb2">
  {% if post %}
    {% assign categories = post.categories %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign categories = page.categories %}
    {% assign tags = page.tags %}
  {% endif %}

  {% for category in categories %}
    <a class="f5 br3 mt2 mr1 ph3 pv2 link black-70 bg-light-gray hover-bg-near-white grow" href="{{ "/category/" | absolute_url }}{{ category | slugify }}/">{{ category }}</a>
  {% endfor %}

  {% for tag in tags %}
    <a class="f5 br3 mt2 mr1 ph3 pv2 link black-70 bg-light-gray hover-bg-near-white grow" href="{{ "/tag/" | absolute_url }}{{ tag | slugify }}/">{{ tag }}</a>
  {% endfor %}

</div>
{% endif %}
